<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CollageConnectWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>comp.ketan.server.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>comp.ketan.server.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAssociation</display-name>
    <servlet-name>AddAssociation</servlet-name>
    <servlet-class>comp.ketan.server.AddAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssociation</servlet-name>
    <url-pattern>/AddAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTpo</display-name>
    <servlet-name>AddTpo</servlet-name>
    <servlet-class>comp.ketan.server.AddTpo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTpo</servlet-name>
    <url-pattern>/AddTpo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHod</display-name>
    <servlet-name>AddHod</servlet-name>
    <servlet-class>comp.ketan.server.AddHod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHod</servlet-name>
    <url-pattern>/AddHod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAssociation</display-name>
    <servlet-name>DeleteAssociation</servlet-name>
    <servlet-class>comp.ketan.server.DeleteAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAssociation</servlet-name>
    <url-pattern>/DeleteAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTpo</display-name>
    <servlet-name>DeleteTpo</servlet-name>
    <servlet-class>comp.ketan.server.DeleteTpo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTpo</servlet-name>
    <url-pattern>/DeleteTpo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHod</display-name>
    <servlet-name>DeleteHod</servlet-name>
    <servlet-class>comp.ketan.server.DeleteHod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHod</servlet-name>
    <url-pattern>/DeleteHod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssociationLogin</display-name>
    <servlet-name>AssociationLogin</servlet-name>
    <servlet-class>comp.ketan.server.AssociationLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssociationLogin</servlet-name>
    <url-pattern>/AssociationLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HodLogin</display-name>
    <servlet-name>HodLogin</servlet-name>
    <servlet-class>comp.ketan.server.HodLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HodLogin</servlet-name>
    <url-pattern>/HodLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssocLogin</display-name>
    <servlet-name>AssocLogin</servlet-name>
    <servlet-class>comp.ketan.server.AssocLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssocLogin</servlet-name>
    <url-pattern>/AssocLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TpoLogin</display-name>
    <servlet-name>TpoLogin</servlet-name>
    <servlet-class>comp.ketan.server.TpoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TpoLogin</servlet-name>
    <url-pattern>/TpoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRequirement</display-name>
    <servlet-name>AddRequirement</servlet-name>
    <servlet-class>comp.ketan.server.AddRequirement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRequirement</servlet-name>
    <url-pattern>/AddRequirement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvent</display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>comp.ketan.server.AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotice</display-name>
    <servlet-name>AddNotice</servlet-name>
    <servlet-class>comp.ketan.server.AddNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotice</servlet-name>
    <url-pattern>/AddNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>comp.ketan.server.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegister</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>comp.ketan.server.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>comp.ketan.server.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHodNotice</display-name>
    <servlet-name>AddHodNotice</servlet-name>
    <servlet-class>comp.ketan.server.AddHodNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHodNotice</servlet-name>
    <url-pattern>/AddHodNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyReq</display-name>
    <servlet-name>ApplyReq</servlet-name>
    <servlet-class>comp.ketan.server.ApplyReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyReq</servlet-name>
    <url-pattern>/ApplyReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyEvent</display-name>
    <servlet-name>ApplyEvent</servlet-name>
    <servlet-class>comp.ketan.server.ApplyEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyEvent</servlet-name>
    <url-pattern>/ApplyEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentReq</display-name>
    <servlet-name>CommentReq</servlet-name>
    <servlet-class>comp.ketan.server.CommentReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentReq</servlet-name>
    <url-pattern>/CommentReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentEvent</display-name>
    <servlet-name>CommentEvent</servlet-name>
    <servlet-class>comp.ketan.server.CommentEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentEvent</servlet-name>
    <url-pattern>/CommentEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentNotice</display-name>
    <servlet-name>CommentNotice</servlet-name>
    <servlet-class>comp.ketan.server.CommentNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentNotice</servlet-name>
    <url-pattern>/CommentNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobComment</display-name>
    <servlet-name>JobComment</servlet-name>
    <servlet-class>comp.ketan.server.JobComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobComment</servlet-name>
    <url-pattern>/JobComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnsReqComment</display-name>
    <servlet-name>AnsReqComment</servlet-name>
    <servlet-class>comp.ketan.server.AnsReqComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnsReqComment</servlet-name>
    <url-pattern>/AnsReqComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnsNoticeComment</display-name>
    <servlet-name>AnsNoticeComment</servlet-name>
    <servlet-class>comp.ketan.server.AnsNoticeComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnsNoticeComment</servlet-name>
    <url-pattern>/AnsNoticeComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnsEventComment</display-name>
    <servlet-name>AnsEventComment</servlet-name>
    <servlet-class>comp.ketan.server.AnsEventComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnsEventComment</servlet-name>
    <url-pattern>/AnsEventComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnsJobComment</display-name>
    <servlet-name>AnsJobComment</servlet-name>
    <servlet-class>comp.ketan.server.AnsJobComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnsJobComment</servlet-name>
    <url-pattern>/AnsJobComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HodComment</display-name>
    <servlet-name>HodComment</servlet-name>
    <servlet-class>comp.ketan.server.HodComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HodComment</servlet-name>
    <url-pattern>/HodComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnsHodNoticeComment</display-name>
    <servlet-name>AnsHodNoticeComment</servlet-name>
    <servlet-class>comp.ketan.server.AnsHodNoticeComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnsHodNoticeComment</servlet-name>
    <url-pattern>/AnsHodNoticeComment</url-pattern>
  </servlet-mapping>
</web-app>